body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #fffbd5; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b20a2c,
    #fffbd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form__card {
  max-width: 370px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  box-sizing: border-box;
}

.form__title {
  color: rgb(247, 247, 247);
}

.form__title h1 {
  font-weight: 900;
  text-align: center;
  margin-bottom: unset;
}

.form__title p {
  text-align: right;
  margin-top: unset;
  font-weight: 300;
  font-size: 0.85rem;
}

.form__input {
  margin-block: 1rem;
}

.form__input .form__item {
  margin-block: 0.8em;
}

.form__input label {
  display: block;
  font-size: 0.8rem;
  /* opacity: 0; */
  color: rgba(247, 247, 247, 0.749);
  transition: opacity 400ms ease-in-out;
}

.form__input input::-webkit-input-placeholder,
.form__input select::-webkit-input-placeholder {
  font-weight: normal;
}

.form__input input::-moz-placeholder,
.form__input select::-moz-placeholder {
  font-weight: normal;
}

.form__input input:-ms-input-placeholder,
.form__input select:-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-ms-input-placeholder,
.form__input select::-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-webkit-input-placeholder,
.form__input select::-webkit-input-placeholder {
  font-weight: normal;
}

.form__input input::-moz-placeholder,
.form__input select::-moz-placeholder {
  font-weight: normal;
}

.form__input input:-ms-input-placeholder,
.form__input select:-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-ms-input-placeholder,
.form__input select::-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-webkit-input-placeholder,
.form__input select::-webkit-input-placeholder {
  font-weight: normal;
}

.form__input input::-moz-placeholder,
.form__input select::-moz-placeholder {
  font-weight: normal;
}

.form__input input:-ms-input-placeholder,
.form__input select:-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-ms-input-placeholder,
.form__input select::-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-webkit-input-placeholder,
.form__input select::-webkit-input-placeholder {
  font-weight: normal;
}

.form__input input::-moz-placeholder,
.form__input select::-moz-placeholder {
  font-weight: normal;
}

.form__input input:-ms-input-placeholder,
.form__input select:-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-ms-input-placeholder,
.form__input select::-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-webkit-input-placeholder,
.form__input select::-webkit-input-placeholder {
  font-weight: normal;
}

.form__input input::-moz-placeholder,
.form__input select::-moz-placeholder {
  font-weight: normal;
}

.form__input input:-ms-input-placeholder,
.form__input select:-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-ms-input-placeholder,
.form__input select::-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-webkit-input-placeholder,
.form__input select::-webkit-input-placeholder {
  font-weight: normal;
}

.form__input input::-moz-placeholder,
.form__input select::-moz-placeholder {
  font-weight: normal;
}

.form__input input:-ms-input-placeholder,
.form__input select:-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-ms-input-placeholder,
.form__input select::-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-webkit-input-placeholder,
.form__input select::-webkit-input-placeholder {
  font-weight: normal;
}

.form__input input::-moz-placeholder,
.form__input select::-moz-placeholder {
  font-weight: normal;
}

.form__input input:-ms-input-placeholder,
.form__input select:-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-ms-input-placeholder,
.form__input select::-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-webkit-input-placeholder,
.form__input select::-webkit-input-placeholder {
  font-weight: normal;
}

.form__input input::-moz-placeholder,
.form__input select::-moz-placeholder {
  font-weight: normal;
}

.form__input input:-ms-input-placeholder,
.form__input select:-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-ms-input-placeholder,
.form__input select::-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-webkit-input-placeholder,
.form__input select::-webkit-input-placeholder {
  font-weight: normal;
}

.form__input input::-moz-placeholder,
.form__input select::-moz-placeholder {
  font-weight: normal;
}

.form__input input:-ms-input-placeholder,
.form__input select:-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-ms-input-placeholder,
.form__input select::-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-webkit-input-placeholder,
.form__input select::-webkit-input-placeholder {
  font-weight: normal;
}

.form__input input::-moz-placeholder,
.form__input select::-moz-placeholder {
  font-weight: normal;
}

.form__input input:-ms-input-placeholder,
.form__input select:-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-ms-input-placeholder,
.form__input select::-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-webkit-input-placeholder,
.form__input select::-webkit-input-placeholder {
  font-weight: normal;
}

.form__input input::-moz-placeholder,
.form__input select::-moz-placeholder {
  font-weight: normal;
}

.form__input input:-ms-input-placeholder,
.form__input select:-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::-ms-input-placeholder,
.form__input select::-ms-input-placeholder {
  font-weight: normal;
}

.form__input input::placeholder,
.form__input select::placeholder {
  font-weight: normal;
}

.form__input input,
.form__input select {
  font-weight: 900;
  color: rgb(255, 255, 255);
  width: 100%;
}

.form__result {
  color: rgb(255, 255, 255);
  font-weight: 900;
}

.form__item.form__item--two {
  display: flex;
  -moz-column-gap: 1rem;
  column-gap: 1.2rem;
}

.form__item.form__item--two > div {
  width: 100%;
}

input,
select {
  all: unset;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  height: 1.2rem;
  transition: all 400ms ease;
}

input:active,
input:focus,
input:focus-visible,
select:active,
select:focus,
select:focus-visible {
  border-bottom: 2px solid rgba(0, 0, 0, 0.9);
}

button {
  all: unset;
  padding: 0.6rem 1.3rem;
  background: #b20a2c;
  border-radius: 1rem;
  /* border: 1px solid rgb(240, 240, 240); */
  display: block;
  margin-left: auto;
  font-weight: 900;
  color: white;
  box-sizing: content-box;
  line-height: 1;
  transition: all 500ms ease-in-out;
}

button:hover,
button:focus-visible,
button:active,
button:focus {
  cursor: pointer;
  background: #b20a2ca2;
}
